

.section-2{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}


.section-3{
    background-image: url("https://mma.prnewswire.com/media/1843472/KFC_Finger_Sporks.jpg");
    width: 100%;
    height: 600px;


}

.section-4{
    background-color: black;
    color: white;
}




.footer_image2{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;

   
}

.item-container{
   display: flex;
  
   width: 70%;
   margin: auto;
   gap: 20px;
   align-items: center;
   justify-content: center;
    /* background-color: gray; */
}

.container{
    display: flex;
    flex-direction: column;
    
     justify-content: center;
     align-items: center;
     width: 350px;
     height: auto;

}

.item-img{
    width: 350px;
    height: 350px;
    background-color: rgba(220, 220, 220, 0.146);
    
}
.text-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 0px;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.title{
    margin-left: 100px;
    margin: 100px;
    font-size: 50px;
}